<form method="POST" action="/save">
    <input name="nameFile" value="<%= name %>">
    <input name="nameSheet" value="<%= obj[page].name %>">
    <input name="fromRow" value="<%= config.fromRow %>">
    <input name="toRow" value="<%= config.toRow %>">
    <input type="submit" value="OK">
</form>