<div id="app">
    <div class="mt-3 mb-3 p-2 sticky-top">
        <input class="form-control border border-danger" placeholder="Nhập vào đây món mình cần nhé ..." v-model="inputSearch" @keyup="onInputSeach">
    </div>
    <div class="text-center mb-2" style="display: none;">
            <div class="form-check-inline">
                <label class="form-check-label" for="check1">
                    <input type="checkbox" class="form-check-input" id="checkHik" name="vehicle1" value="HIKVISION" @change="onCheck()" v-model="objCheck.hikvision" checked>Hikvision
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" for="check2">
                    <input type="checkbox" class="form-check-input" id="checkDahua" name="vehicle2" value="DAHUA" @change="onCheck()" v-model="objCheck.dahua"  checked>Dahua
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" id="checkKb" name="vehicle2" value="KBVISION" @change="onCheck()" v-model="objCheck.kbvision"  checked>Kbvision
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" id="checkWifi" name="vehicle2" value="CAMERAWIFI" @change="onCheck()" v-model="objCheck.camerawifi"  checked>Camera wifi
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" id="checkPhukien" name="vehicle2" value="PHUKIEN" @change="onCheck()" v-model="objCheck.phukien"  checked>Phụ kiện
                </label>
            </div>
    </div>
    <div v-for="branch in branches('branch', products)" class="border p-3">
        <h3>{{branch}}</h3>
        <div v-for="sheet in branches('sheet', getProductsWithBranch(branch))">
            <div v-if="(branch == 'KBVISION')||(branch == 'DAHUA')||(branch == 'HIKVISION')" class="text-center">
                <h4>{{branch}}:{{sheet}}</h4>
            </div>
            <div v-else class="text-center">
                <h4>{{sheet}}</h4>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <thead class="thead-dark">
                        <tr class="text-center">
                            <th class="col">Tên sản phẩm</th>
                            <th class="col">Giá lẻ</th>
                            <th class="col">Cấp 2</th>
                            <th class="col">Cấp 1</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="product in getProductsWithBranch(branch, sheet)" :class="getColor(product.type)">
                            <td v-if="product.type == 'Khuyến mãi'" >{{product.name}} <span class="badge badge-danger">Đang khuyến mãi</span></td>
                            <td v-else>{{product.name}}</td>
                            <td class="text-right">{{numberWithCommas(product.price)}}</td>
                            <td class="text-right">{{numberWithCommas(product.price_2)}}</td>
                            <td class="text-right">{{numberWithCommas(product.price_1)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="/js/ViewModel/banggia.js"></script>
<script>
    var mix_banggia = {
        data: {
            objCheck: {
                hikvision: true,
                dahua: true,
                kbvision: true,
                camerawifi: true,
                phukien: true
            }
        },
        // Function support View - not use process data
        methods: {
            getProductsWithBranch: function(branch, sheet){
                return this.products.filter(function(product){
                    return ((product.branch == branch) && (product.sheet == (sheet||product.sheet)));
                })
            },
            getProducts: function(){
                return temp;
            },
            onCheck: function(){
                var temp = this.productsOriginal.slice();
                if(this.objCheck.hikvision == false){
                    temp = temp.filter(function(product){
                        return product.branch != 'HIKVISION';
                    })
                }

                if(this.objCheck.dahua == false){
                    temp = temp.filter(function(product){
                        return product.branch != 'DAHUA';
                    })
                }
                if(this.objCheck.kbvision == false){
                    temp = temp.filter(function(product){
                        return product.branch != 'KBVISION';
                    })
                }
                if(this.objCheck.camerawifi == false){
                    temp = temp.filter(function(product){
                        return product.branch != 'EZVIZ';
                    })
                    temp = temp.filter(function(product){
                        return product.branch != 'IMOU';
                    })
                    temp = temp.filter(function(product){
                        return product.branch != 'KB ONE';
                    })
                }
                if(this.objCheck.phukien == false){
                    temp = temp.filter(function(product){
                        return product.branch != "Phụ kiện camera";
                    })
                }
                this.products = temp.slice();
            },
            // branch 
            branches: function(key, arr){
                const unique = [...new Set(arr.map(item => item[key]))];
                return unique;
            },
            // function support color
            getColor: function(type){
                if(type == "Khuyến mãi"){
                    return "table-danger"
                }
            },
        }
    }
    var app_banggia = VMBanggia("#app", mix_banggia);
</script>