<html>
    <head>
        <%- include("header.ejs", {title: title}) %>
    </head>
    <body class="container-fluid">
        <div>   
            <%- include("menu.ejs",{}) %>
        </div>
        <div class="text-center mt-2">
            <h4>Giỏ hàng</h4>
        </div>
        <div id="app">
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                    <th class="col">Tên</th>
                    <th class="col">Giá</th>
                    <th class="col">Số lượng</th>
                    <th class="col">Hành động</th>
                </thead>
                <tbody>
                    <tr v-for="item in items">
                        <td>{{item.name}}</td>
                        <td class="text-right">{{numberWithCommas(item.price)}}</td>
                        <td>{{item.amount}}</td>
                        <td><button class="btn btn-danger" @click="deleteItem(item)">Xóa</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="hotline-phone-ring-wrap">
            <div class="hotline-phone-ring">
                <div class="hotline-phone-ring-circle"></div>
                <div class="hotline-phone-ring-circle-fill"></div>
                <div class="hotline-phone-ring-img-circle">
                    <a href="tel:0869270717" class="pps-btn-img">
                        <img src="/images/icon-call-nh.png" alt="Gọi điện thoại" width="50">
                    </a>
                </div>
            </div>
            <div class="hotline-bar">
                <a href="tel:0869270717">
                    <span class="text-hotline">0869.27.07.17</span>
                </a>
            </div>
        </div>
        <script src="/js/customer/model.js"></script>
        <script src="/js/customer/giohang.js"></script>
    </body>
</html>