<html>
    <head>
        <%- include("header.ejs", {title: title}) %>
    </head>
    <body class="container-fluid">
        <div>   
            <%- include("menu.ejs",{}) %>
        </div>
        <div class="text-center mt-2">
            <h2>Hướng dẫn mua hàng</h2>
        </div>
        <div id="app" class="">
            
        </div>
    </body>
</html>