<html>
    <head>
        <%- include("header.ejs", {title: title}) %>
        <script src="/js/customer/model.js"></script>
    </head>
    <body class="container-fluid">
        <div>   
            <%- include("menu.ejs",{}) %>
        </div>
        <div class="text-center mt-2">
            <h4>PHIÊN BẢNG NỘI BỘ</h4>
        </div>
        <%- include("banggia_2.ejs") %>
        <%- include("call.ejs") %>
    </body>
</html>